/* Popover style */
.pb-popover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-popover);
}

.pb-popover-box {
  position: absolute;
  height: auto;
  max-height: 70vh;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  border: 3px solid white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 6px 12px 2px #49494920;
}

.pb-popover-actions {
  margin-top: 30px;
}

.pb-popover-actions > *:not(:last-child) {
  margin-right: 30px;
}

.pb-popover-close-icon {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 3px solid var(--lp-primary-color);
  font-size: 40px;
  color: var(--lp-primary-color);
  font-weight: 600;
}

.pb-popover .pb-popover-content > * {
  font-weight: 700;
}

.pb-popover .pb-popover-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
}

.pb-popover .pb-popover-arrow-al {
  right: -1px;
  top: 50%;
  border-right: 3px solid white;
  border-top: 3px solid white;
  transform: translate(50%, -50%) rotate(45deg);
}

.pb-popover .pb-popover-arrow-ar {
  left: -1px;
  top: 50%;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.pb-popover .pb-popover-arrow-at {
  bottom: -22.5px;
  left: 50%;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.pb-popover .pb-popover-arrow-ab {
  left: 50%;
  top: 0;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
}
