.theme-diana .bg-image-frame,
.theme-diana .bg-image-layout,
.theme-diana .bg-image-payment {
  background-image: url('/images/diana/diana_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.theme-diana .bg-image-layout {
  background-image: url('/images/diana/diana_background.png');
}
.theme-diana .bg-image-payment {
  background-image: url('/images/diana/diana_background.png');
}
@media only screen and (max-width: 600px) {
  .theme-diana .bg-image-frame,
  .theme-diana .bg-image-layout,
  .theme-diana .bg-image-payment {
    background-image: url('/images/diana/diana_phone_background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
