.bg-image {
  transition: all 0.4s;
}

.bg-image-frame,
.bg-image-layout,
.bg-image-payment {
  background-image: var(--background-image-url);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-layout {
  background-image: var(--background-image-url);
}

.bg-image-payment {
  background-image: var(--background-image-url);
}

@media only screen and (max-width: 600px) {
  .bg-image-frame,
  .bg-image-layout,
  .bg-image-payment {
    background-image: var(--phone-background-image-url);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
