.pb-loader {
  position: relative;
  background-color: transparent;
}

.pb-loader .pb-loader-icon-wrapper {
  position: absolute;
  width: 22.5rem;
  height: 9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-loading);
}

.pb-loader .pb-loader-icon {
  width: 7.2rem;
  height: 7.2rem;
  margin: auto;
  position: relative;
}
.pb-loader .pb-loader-icon:before {
  content: '';
  width: 7.2rem;
  height: 0.75rem;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 9rem;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.pb-loader .pb-loader-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.6rem;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 0.45rem;
  }
  25% {
    transform: translateY(1.3rem) rotate(22.5deg);
  }
  50% {
    transform: translateY(2.7rem) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 6rem;
  }
  75% {
    transform: translateY(1.35rem) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
