.page-single__download-result-image {
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  text-align: center;
  transform: scale(0.98);
}

.page-single__download-actions {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.page-single__download-actions button {
  width: 16rem;
  height: 4.4rem;
}

.page-single__download-actions button * {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
}

.machine-info-text {
  margin-bottom: 1rem;
}

.floating-earn-point-buttons {
  width: 9rem;
  height: 9rem;
  position: fixed;
  right: 1rem;
  top: 2rem;

  .earn-point-popover {
    @apply pointer-events-auto;

    .earn-point-popover-box {
      background: var(--sync-secondary-color);
      border: 0.4rem solid var(--sync-button-border-color);
    }
  }

  .pb-popover-arrow {
    background-color: var(--sync-secondary-color) !important;
  }

  .earn-point-popover-content {
    position: absolute;
    white-space: pre;
    background-color: var(--sync-secondary-color) !important;
    border: 0.4rem solid var(--sync-button-border-color);
    right: 100%;
    border-radius: 1.4rem;
    padding: 1.5rem;
    top: 50%;
    transform: translate(-20px, -50%);
    text-align: center;

    .earn-point__pb-popover-arrow {
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: -0.2rem;
      top: 50%;
      background-color: var(--sync-secondary-color);
      border-right: 0.4rem solid var(--sync-button-border-color);
      border-top: 0.4rem solid var(--sync-button-border-color);
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  .page-single__btn-earn-point {
    width: 8.5rem;
    height: 8.5rem;
    background: var(--sync-secondary-color);
    border: 0.4rem solid var(--sync-button-border-color);
    border-radius: 50%;
    flex-shrink: 0;
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .page-single__btn-earn-point--icon {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem;
    }

    .page-single__btn-earn-point--text {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.pb-carousel-arrow-right,
.pb-carousel-arrow-left {
  position: relative;
  z-index: 1000;
}

.pb-carousel-arrow-right {
  right: 3rem;
}

.pb-carousel-arrow-left {
  left: 3rem;
}

.popup-download {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 1rem;
  position: absolute;
  height: 4rem;
  top: 17rem;
  left: 13rem;
  z-index: 1400;
  background-color: var(--sync-primary-color);
  width: 32rem;

  .download__pb-popover-arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 15rem;
    top: 4rem;
    background-color: var(--sync-primary-color);
    transform: translate(50%, -50%) rotate(45deg);
  }
}

.swiper-wrapper {
  width: 100rem;

  .swiper-slide {
    display: flex;
    justify-content: center;

    .page-single__download-result-image.selected {
      opacity: 0.65;
      border: 3px solid #3b82f6;
      transform: scale(0.97);
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    }

    .resource-container {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .resource-container.selected {
      transform: scale(0.97);
    }
  }

  .check-icon {
    position: absolute;
    z-index: 10000;
    top: 2rem;
    left: 1rem;
  }
}

.change-language-selection {
  width: 7rem;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: var(--z-index-popover);
  .select_pb-select__input__6Ojk_ {
    .select_pb-select__list__AvUA7 {
      width: 17rem;
      top: 52px;
      .pb-select__item {
        background-color: #f597a8;
      }
      .pb-select__item:hover {
        background-color: var(--sync-primary-color);
      }
    }
  }
  .select_pb-select__input__6Ojk_
    > .typography_pb-typography__iycJ7
    .language-option {
    font-size: 0;
  }
}

.language-option {
  img {
    width: 3rem;
  }
}

.text-remind-use-camera {
  white-space: pre-line;
  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 639px) {
  .swiper-wrapper {
    width: 45rem;
  }
}
