NEXT_PUBLIC_BASE_API_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_MESSENGER_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_FRANCHISE_FORM_REGISTER_URL=
NEXT_PUBLIC_INTRODUCE_VIDEO_YOUTUBE_URL=
NEXT_PUBLIC_VTV1_YOUTUBE_URL=
NEXT_PUBLIC_CONG_LUAN_YOUTUBE_URL=
NEXT_PUBLIC_RADIO_TEEN_YOUTUBE_URL=
NEXT_PUBLIC_ZMA_APP_URL=