.pb-button {
  width: 20.4rem;
  height: 7.5rem;
  border-radius: 1.5rem;
  border: 0.3rem solid var(--sync-button-border-color);
}

.pb-button .pb-button-text {
  color: var(--sync-button-text-color);
}

.pb-button-text::first-letter {
  text-transform: uppercase;
}

.pb-button-info {
  font-weight: 700;
}

.pb-button-primary {
  background: var(--sync-primary-color);
  font-weight: 700;
}

.pb-button-default {
  background: var(--sync-secondary-color);
  font-weight: 500;
}

.pb-button-transparent {
  background: transparent;
}

.pb-button.pb-button-transparent .pb-button-text {
  color: var(--sync-text-color);
  font-weight: 400;
}

.pb-button-disabled {
  opacity: 0.4;
}
