@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('/fonts/Inter-Thin.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('/fonts/Inter-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('/fonts/Inter-Black.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url('/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-display: swap;
  }
}

@layer components {
  .banner-title {
    @apply uppercase w-[50%] absolute bottom-[2rem] object-cover text-lp-primary-color text-[5.4rem] font-[800];
    text-shadow:
      2px 0 #fff,
      -2px 0 #fff,
      0 2px #fff,
      0 -2px #fff,
      1px 1px #fff,
      -1px -1px #fff,
      1px -1px #fff,
      -1px 1px #fff;
  }

  .dot-slider {
    @apply w-[3rem] h-[3rem] rounded-full border-lp-primary-color border-[0.2rem] bg-white mx-[1rem];
  }

  .dot-slider-active {
    @apply bg-lp-primary-color mx-[1rem];
  }

  .shadow-white-bg {
    width: 80%;
    height: 80%;
    border-radius: 148rem;
    transform: rotate(15deg);
    bottom: -65%;
    left: -30%;
    box-shadow: 4rem 5rem 4rem 14rem white;
    opacity: 0.9;
  }
}

html,
body {
  font-size: 62.5%;
  overscroll-behavior-x: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.root,
:root,
#root,
#docs-root {
  --primary-color: #f16d94;
  --second-primary-color: #1a83c0;
  --secondary-color: #979797;
  --secondary-text-color: #595959;
  --border-color: #7b7b7b;
  --border-active-img-color: #bcbcbc;
  --active-color: #1a83c0;
  --info-color: #28ace2;
  --inactive-color: #cdcdcd;
  --support-text-color: gray;

  --bg-primary-color: #fdeeef;
  --dark-bg-primary-color: #fabacf;
  --lighter-bg-primary-color: #ffd9e5;

  --lp-primary-color: #eb5a6f;
  --lp-lighter-primary-color: #ef909b;
  --lp-lighter2-primary-color: #f5ced5;
  --lp-secondary-color: #3a80bf;
  --lp-gold-color: #ffbd0e;

  --z-index-header: 1000;
  --z-index-banner-dot: 999;
  --z-index-floating-button: 1000;
  --z-index-retake-result: 1000;
  --z-index-backdrop: 1300;
  --z-index-button-on-backdrop: 1300;
  --z-index-freeze-webcam-loading: 1200;
  --z-index-loading: 1200;
  --z-index-popup: 1400;
  --z-index-popover: 1400;

  --height-of-header: 54px;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.transition-img {
  /* Todo: fix transition */
  transition: all 0.5s;
}

.border-image {
  border: 10px solid white;
}

@media only screen and (max-width: 425px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 7px;
  }
}
