@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../assets/styles/index.css';

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('/fonts/Inter-Thin.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('/fonts/Inter-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('/fonts/Inter-Black.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url('/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-display: swap;
  }
}

@layer components {
  .dot-slider {
    @apply w-[3rem] h-[3rem] rounded-full border-lp-primary-color border-[0.2rem] bg-white mx-[1rem];
  }

  .dot-slider-active {
    @apply bg-lp-primary-color mx-[1rem];
  }

  .border-image {
    border: 1rem solid white;
  }

  @media screen('less-sm') {
    html,
    body {
      font-size: 8px;
    }

    .border-image {
      border: 0.6rem solid white;
    }
  }
}

html,
body {
  font-size: 62.5%;
  overscroll-behavior-x: none;
  /* touch-action: none; */
  -webkit-tap-highlight-color: transparent;
}

.root,
:root,
#root,
#docs-root {
  --sync-primary-color: #ee5e77;
  --sync-secondary-color: #3a81c3;
  --sync-text-color: #595959;
  --sync-button-text-color: white;
  --sync-button-border-color: white;
  --sync-input-background-color: #f3f3c5;
  --sync-title-color: white;
  --sync-border-title-1-color: #3a81c3;
  --sync-border-title-2-color: #ffc840;
  --background-image-url: url('/images/background_frame.jpg');
  --phone-background-image-url: url('/images/background_frame_phone.jpg');

  --lp-primary-color: #eb5a6f;
  --lp-header-link-color: #f16d94;
  --lp-second-primary-color: #1a83c0;
  --lp-lighter-primary-color: #ef909b;
  --lp-lighter2-primary-color: #f5ced5;
  --lp-secondary-color: #3a80bf;
  --lp-gold-color: #ffbd0e;

  --z-index-banner-dot: 999;
  --z-index-header: 1100;
  --z-index-floating-button: 1000;
  --z-index-retake-result: 1000;
  --z-index-backdrop: 1300;
  --z-index-button-on-backdrop: 1300;
  --z-index-freeze-webcam-loading: 1200;
  --z-index-loading: 1200;
  --z-index-popup: 1400;
  --z-index-popover: 1400;

  --height-of-header: 54px;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.transition-img {
  /* Todo: fix transition */
  transition: all 0.5s;
}

@media only screen and (max-width: 425px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 7px;
  }
}

.page-single__layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
  color: var(--sync-text-color);
}

.page-single__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;
}

.page-single__logo {
  width: 18rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.page-single__content-text {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.page-single__slogan-text {
  margin-bottom: 3.5rem;
}

.page-single__logo-loading {
  width: 9rem;
  -webkit-animation: anim-heart 1.2s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: anim-heart 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes anim-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes anim-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}
