.about-photobooth {
  background-image: url('/images/background/cartoon_trang.png');
  background-size: 2300px;
  @apply flex w-full bg-lp-primary-color border-t-3 border-lp-lighter-primary-color;

  .about-photobooth-container {
    @apply pt-6 pb-8 text-lp-body text-white text-center;

    .section-title {
      @apply mb-8 text-lp-section-title uppercase font-extrabold text-white whitespace-pre-line;
    }

    .about-photobooth-video-frame-wrapper {
      @apply mx-auto border-image w-full;
    }

    .about-photobooth-video-frame {
      @apply mx-auto w-full aspect-video;
    }
  }

  .about-photobooth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 900px;
    @apply mx-auto;

    div:nth-child(1),
    div:nth-child(2) {
      grid-column: 1 / 3;
    }

    div:not(:nth-child(1)):not(:nth-child(2)) {
      .about-photobooth-video-frame-wrapper {
        @apply mx-auto border-image w-45;
      }

      .about-photobooth-video-frame {
        @apply mx-auto w-full;
        aspect-ratio: 9 / 16 !important;
      }
    }
  }

  .about-photobooth-swiper-dots {
    margin-top: 20px;

    .dot-slider {
      @apply bg-lp-primary-color border-white;
    }

    .dot-slider-active {
      @apply bg-white border-white;
    }
  }
}

@media screen('less-sm') {
  .about-photobooth {
    .about-photobooth-container {
      .section-title {
        font-size: 32px;
      }

      .about-photobooth-grid {
        width: calc(100% - 40px);
        gap: 10px;
      }
    }
  }
}

@media screen('sm') {
  .about-photobooth {
    .about-photobooth-container {
      .about-photobooth-grid {
        width: calc(100% - 80px);
        gap: 30px;
      }
    }
  }
}

@media screen('xl') {
  .about-photobooth {
    background-image: url('/images/background/cartoon_trang.png');
    background-size: 2300px;
    @apply flex w-full bg-lp-primary-color border-t-3 border-lp-lighter-primary-color;

    .about-photobooth-container {
      @apply pt-6 pb-8 text-lp-body text-white text-center;

      .section-title {
        @apply mb-8 text-lp-section-title uppercase font-extrabold text-white whitespace-pre-line;
      }

      .about-photobooth-grid {
        width: 900px;
        gap: 50px;
      }
    }
  }
}
