.about-photobooth {
  background-image: url('/images/background/cartoon_trang.png');
  background-size: 230rem;
  @apply flex w-full bg-lp-primary-color border-t-[3rem] border-lp-lighter-primary-color;

  .about-photobooth-container {
    @apply pt-[6rem] pb-[8rem] text-lp-body text-white text-center;

    .section-title {
      @apply mb-[8rem] text-lp-section-title uppercase font-[800] text-white whitespace-pre-line;
    }

    .about-photobooth-video-frame-wrapper {
      @apply mx-auto border-image w-full;
    }

    .about-photobooth-video-frame {
      @apply mx-auto w-full aspect-video;
    }
  }

  .about-photobooth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 90rem;
    @apply mx-auto;

    div:nth-child(1),
    div:nth-child(2) {
      grid-column: 1 / 3;
    }

    div:not(:nth-child(1)):not(:nth-child(2)) {
      .about-photobooth-video-frame-wrapper {
        @apply mx-auto border-image w-[45rem];
      }

      .about-photobooth-video-frame {
        @apply mx-auto w-full;
        aspect-ratio: 9 / 16 !important;
      }
    }
  }

  .about-photobooth-swiper-dots {
    margin-top: 2rem;

    .dot-slider {
      @apply bg-lp-primary-color border-white;
    }

    .dot-slider-active {
      @apply bg-white border-white;
    }
  }
}

@media screen('less-sm') {
  .about-photobooth {
    .about-photobooth-container {
      .section-title {
        font-size: 3.2rem;
      }

      .about-photobooth-grid {
        width: calc(100% - 4rem);
        gap: 1rem;
      }
    }
  }
}

@media screen('sm') {
  .about-photobooth {
    .about-photobooth-container {
      .about-photobooth-grid {
        width: calc(100% - 8rem);
        gap: 3rem;
      }
    }
  }
}

@media screen('xl') {
  .about-photobooth {
    background-image: url('/images/background/cartoon_trang.png');
    background-size: 230rem;
    @apply flex w-full bg-lp-primary-color border-t-[3rem] border-lp-lighter-primary-color;

    .about-photobooth-container {
      @apply pt-[6rem] pb-[8rem] text-lp-body text-white text-center;

      .section-title {
        @apply mb-[8rem] text-lp-section-title uppercase font-[800] text-white whitespace-pre-line;
      }

      .about-photobooth-grid {
        width: 90rem;
        gap: 5rem;
      }
    }
  }
}
