.ensure-opportunity {
  @apply flex flex-col w-full bg-lp-primary-color border-t-[3rem] border-lp-lighter-primary-color;
  .ensure-opportunity-container {
    @apply py-[4rem] text-lp-body text-white text-center;
    .section-title {
      @apply mb-4 text-lp-section-title-2 uppercase font-[800];
    }
    .ensure-opportunity-grid {
      @apply grid mx-auto gap-x-[4rem] gap-y-[2rem] grid-cols-2 grid-rows-2 grid-rows-[auto,_1fr] text-[2rem] w-[110rem];
    }
    .ensure-opportunity-item {
      @apply text-left;
      .ensure-opportunity-item-title {
        @apply block my-[2rem];
      }
      .ensure-opportunity-item-description {
        @apply text-justify;
      }
    }
    .ensure-opportunity-wrapper {
      @apply flex flex-col items-center mx-auto mt-[4rem] h-[20rem];
      .ensure-opportunity-image-wrapper {
        @apply flex;
        .ensure-opportunity-image {
          @apply object-cover border-image w-[50rem] h-[40rem] z-[1];
        }
      }
      .ensure-opportunity-description {
        @apply text-lp-lighter-primary-color text-[2rem] mt-[2rem] z-[1];
      }
    }
  }
  .ensure-opportunity-bottom-div {
    background-image: url('/images/background/cartoon_hong.png');
    background-size: 230rem;
    @apply bg-white h-[250px] w-full;
  }
  .ensure-opportunity-swiper-wrapper {
    @apply hidden;
  }
}

@media screen('less-sm') {
  .ensure-opportunity {
    .ensure-opportunity-container {
      @apply px-[4rem] text-lp-body text-white text-center;
      .ensure-opportunity-grid {
        @apply hidden;
      }
      .ensure-opportunity-wrapper {
        @apply flex flex-col items-center mx-auto mt-[4rem] h-[20rem];
        .ensure-opportunity-image-wrapper {
          @apply flex;
          .ensure-opportunity-image {
            @apply relative object-cover border-image w-[50rem] h-[40rem] z-[1];
            width: 50%;
          }
        }
        .ensure-opportunity-description {
          @apply text-lp-lighter-primary-color text-[2rem] mt-[2rem] z-[1];
        }
      }
    }
    .ensure-opportunity-bottom-div {
      @apply bg-white h-[25rem] w-full;
    }
    .ensure-opportunity-swiper-wrapper {
      @apply block relative;
      .swiper-dots {
        @apply mt-[2rem];
        .dot-slider {
          @apply bg-lp-primary-color border-white;
        }
        .dot-slider-active {
          @apply bg-white border-white;
        }
      }
    }
  }
}

@media screen('sm') {
  .ensure-opportunity {
    .ensure-opportunity-container {
      @apply px-[4rem] text-lp-body text-white text-center;
      .ensure-opportunity-grid {
        @apply hidden;
      }
      .ensure-opportunity-wrapper {
        @apply flex flex-col items-center mx-auto mt-[4rem] h-[20rem];
        .ensure-opportunity-image-wrapper {
          @apply flex;
          .ensure-opportunity-image {
            @apply relative object-cover border-image w-[50rem] h-[40rem] z-[1];
            width: 50%;
          }
        }
        .ensure-opportunity-description {
          @apply text-lp-lighter-primary-color text-[2rem] mt-[2rem] z-[1];
        }
      }
    }
    .ensure-opportunity-bottom-div {
      @apply bg-white h-[25rem] w-full;
    }
    .ensure-opportunity-swiper-wrapper {
      @apply block relative;
      .swiper-dots {
        @apply mt-[2rem];
        .dot-slider {
          @apply bg-lp-primary-color border-white;
        }
        .dot-slider-active {
          @apply bg-white border-white;
        }
      }
    }
  }
}

@media screen('xl') {
  .ensure-opportunity {
    @apply border-t-[3rem];
    .ensure-opportunity-container {
      @apply py-[4rem] text-lp-body text-white text-center;
      .section-title {
        @apply mb-4 text-lp-section-title-2 uppercase font-[800];
      }
      .ensure-opportunity-grid {
        @apply grid mx-auto gap-x-[4rem] gap-y-[2rem] grid-cols-2 grid-rows-2 grid-rows-[auto,_1fr] text-[2rem] w-[110rem];
      }
      .ensure-opportunity-item {
        @apply text-left;
        .ensure-opportunity-item-title {
          @apply block my-[2rem];
        }
        .ensure-opportunity-item-description {
          @apply text-justify;
        }
      }
      .ensure-opportunity-wrapper {
        @apply flex flex-col items-center mx-auto mt-[4rem] h-[20rem];
        .ensure-opportunity-image-wrapper {
          @apply flex;
          .ensure-opportunity-image {
            @apply object-cover border-image w-[50rem] h-[40rem] z-[1];
          }
        }
        .ensure-opportunity-description {
          @apply text-[2rem] mt-[2rem] z-[1];
        }
      }
    }
    .ensure-opportunity-bottom-div {
      @apply bg-white h-[250px] w-full;
    }
    .ensure-opportunity-swiper-wrapper {
      @apply hidden;
    }
  }
}
