.event-gallery-section {
  @apply flex w-full bg-gradient-pink;

  .event-gallery-container {
    @apply py-4 text-center mx-auto;

    .event-gallery-title {
      @apply mb-4 text-lp-section-title uppercase font-extrabold text-lp-primary-color;
    }

    .event-gallery-wrapper {
      @apply relative mx-auto w-90;

      .event-gallery-swiper {
        @apply w-full;
      }

      .event-gallery-slide {
        @apply flex w-full h-full items-center justify-center;

        .event-gallery-item {
          @apply w-full h-30 rounded-1 overflow-hidden;

          .event-gallery-image {
            @apply w-full h-full;
          }
        }
      }

      .event-gallery-left-arrow {
        @apply absolute top-1/2 -translate-y-2 -left-8 z-z-index-banner-dot;
      }

      .event-gallery-right-arrow {
        @apply absolute top-1/2 -translate-y-2 -right-8 z-z-index-banner-dot;
      }
    }

    .event-gallery-button-wrapper {
      @apply mt-4 flex justify-center;

      .event-gallery-button {
        @apply inline w-fit font-medium rounded bg-lp-second-primary-color text-white mx-auto text-lp-small;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 20px;
      }
    }
  }
}

@media screen('less-sm') {
  .event-gallery-section {
    .event-gallery-container {
      @apply px-2;

      .event-gallery-title {
        @apply text-lp-section-title-2;
      }

      .event-gallery-wrapper {
        width: unset;

        .event-gallery-slide {
          .event-gallery-item {
            @apply h-20 md:h-25;
          }
        }

        .event-gallery-left-arrow {
          @apply -left-2.5 top-1/2;
        }

        .event-gallery-right-arrow {
          @apply -right-2.5 top-1/2;
        }
      }
    }
  }
}

@media screen('sm') {
  .event-gallery-section {
    .event-gallery-container {
      @apply px-4;

      .event-gallery-wrapper {
        width: unset;

        .event-gallery-slide {
          .event-gallery-item {
            @apply h-25;
          }
        }

        .event-gallery-left-arrow {
          @apply -left-3;
        }

        .event-gallery-right-arrow {
          @apply -right-3;
        }
      }
    }
  }
}

@media screen('md') {
  .event-gallery-section {
    .event-gallery-container {
      .event-gallery-wrapper {
        width: unset;

        .event-gallery-slide {
          .event-gallery-item {
            @apply h-25;
          }
        }

        .event-gallery-left-arrow {
          @apply -left-3;
        }

        .event-gallery-right-arrow {
          @apply -right-3;
        }
      }
    }
  }
}

@media screen('xl') {
  .event-gallery-section {
    @apply flex w-full bg-gradient-pink;

    .event-gallery-container {
      @apply py-4 text-center mx-auto;

      .event-gallery-title {
        @apply mb-4 text-lp-section-title uppercase font-extrabold text-lp-primary-color;
      }

      .event-gallery-wrapper {
        @apply relative mx-auto w-90;

        .event-gallery-slide {
          @apply flex w-full h-full items-center justify-center;

          .event-gallery-item {
            @apply w-full h-30 rounded-1 overflow-hidden;

            .event-gallery-image {
              @apply w-full h-full;
            }
          }
        }

        .event-gallery-left-arrow {
          @apply absolute top-1/2 -translate-y-2 -left-8 z-z-index-banner-dot;
        }

        .event-gallery-right-arrow {
          @apply absolute top-1/2 -translate-y-2 -right-8 z-z-index-banner-dot;
        }
      }
    }
  }
}
