.fun-stores {
  @apply flex w-full bg-lp-primary-color border-t-3 border-white;

  .fun-stores-container {
    @apply py-4 text-white text-center;

    .section-title {
      @apply mb-4 text-lp-section-title uppercase font-extrabold text-white;
    }

    .fun-stores-grid {
      @apply gap-2 grid-cols-2 text-lp-body;

      .fun-stores-item {
        @apply flex flex-col items-center mb-6;
      }
    }

    .fun-stores-item-image {
      @apply w-3/10 rounded-1;
    }

    .fun-stores-item-icon {
      @apply rounded-1 w-6;
    }

    .fun-stores-item-title {
      @apply w-4/5 flex justify-center items-center my-0.5 m-auto;

      strong {
        @apply font-semibold ml-1 whitespace-nowrap;
      }
    }
  }

  .store-region-title {
    @apply relative text-lp-section-title-2 mb-4 mt-6 whitespace-pre;

    &::before,
    &::after {
      content: '';
      border-bottom: 1px solid white;
      width: 15%;
      display: inline-block;
      top: 50%;
    }

    &::before {
      margin-right: 0.5em;
    }

    &::after {
      margin-left: 0.5em;
    }

    & span {
      color: #666;
      font-size: 0.9em;
    }
  }

  .store-location-title {
    @apply text-lp-card-title mb-4 mt-4 whitespace-pre;
  }

  .store-swiper-wrapper {
    @apply relative;
  }

  .store-swiper-left-arrow,
  .store-swiper-right-arrow {
    @apply absolute top-1/2 -translate-y-3;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .store-swiper-item-image {
    @apply rounded-1 mx-auto;
    aspect-ratio: 1 / 1;
  }

  .store-swiper-item-title {
    @apply text-lp-small w-4/5 flex justify-center items-center m-auto mt-1.5;

    strong {
      @apply font-semibold ml-1 whitespace-nowrap;
    }
  }

  .store-swiper-item-view-more {
    @apply cursor-pointer text-lp-small w-fit m-auto mt-1.5 px-1.4 py-0.4 rounded-2 bg-lp-second-primary-color text-white;
  }

  .store-swiper-item-icon {
    @apply rounded-1 w-3;
  }
}

.location-store-popup-wrapper {
  @apply w-full h-full flex flex-col justify-center items-center text-white;
  overflow-y: overlay;

  .location-store-popup-content {
    @apply h-fit w-fit p-2 md:p-8 min-h-0 flex justify-center items-center max-w-screen-xl;
    margin: auto;

    .location-store-wrapper {
      @apply h-fit w-fit px-4 pb-4 flex flex-col justify-center items-center rounded-1 bg-lp-primary-color;
      margin: auto;

      .photo-compare {
        margin: auto;
        max-height: 90vh;
      }
    }
  }

  .store-region-title {
    @apply !my-4;

    &::before,
    &::after {
      content: unset !important;
    }
  }

  .list-store-row {
    @apply flex flex-wrap justify-center gap-4;

    .store-swiper-item-title {
      width: 200px;
      white-space: break-spaces;
    }
  }
}

@media screen('less-sm') {
  .fun-stores {
    .fun-stores-container {
      @apply px-4;

      .section-title {
        @apply text-lp-section-title-2;
      }

      .fun-stores-grid {
        @apply grid-cols-1;
      }

      .fun-stores-item-image {
        @apply w-7/10;
      }
    }
  }

  .store-swiper-left-arrow {
    @apply -left-1 !important;
  }

  .store-swiper-right-arrow {
    @apply -right-1 !important;
  }

  .location-store-popup-wrapper {
    img {
      width: 200px;
    }

    .list-store-row {
      .store-swiper-item-title {
        width: 200px;
      }
    }
  }
}

@media screen('sm') {
  .fun-stores {
    .fun-stores-container {
      @apply px-4;

      .fun-stores-grid {
        @apply grid-cols-1;
      }

      .fun-stores-item-image {
        @apply w-1/2;
      }
    }
  }

  .store-swiper-left-arrow {
    @apply -left-2.5 !important;
  }

  .store-swiper-right-arrow {
    @apply -right-2.5 !important;
  }

  .location-store-popup-wrapper {
    img {
      width: 200px;
    }

    .list-store-row {
      .store-swiper-item-title {
        width: 250px;
      }
    }
  }
}

@media screen('md') {
  .store-swiper-left-arrow {
    @apply -left-3.5 !important;
  }

  .store-swiper-right-arrow {
    @apply -right-3.5 !important;
  }

  .location-store-popup-wrapper {
    .list-store-row {
      .store-swiper-item-title {
        width: 250px;
      }
    }
  }
}

@media screen('xl') {
  .fun-stores {
    @apply flex w-full border-t-3;

    .fun-stores-container {
      @apply px-0 py-4;

      .section-title {
        @apply mb-4;
      }

      .fun-stores-grid {
        @apply gap-2 grid-cols-2;
      }
    }
  }

  .store-swiper-left-arrow {
    @apply -left-6.5 !important;
  }

  .store-swiper-right-arrow {
    @apply -right-6.5 !important;
  }

  .location-store-popup-wrapper {
    .list-store-row {
      .store-swiper-item-title {
        width: 350px;
      }
    }
  }
}
