.fun-products-section {
  @apply bg-gradient-pink;
  border-top-width: 30px;
  border-color: var(--lp-lighter-primary-color);

  .fun-products-container {
    @apply py-4 pb-6 text-center text-lp-small;

    .section-title {
      @apply mb-4 text-lp-section-title uppercase font-extrabold text-lp-primary-color;
    }

    .fun-products__name {
      @apply font-medium;
    }

    .fun-products__contact {
      @apply inline w-fit font-medium rounded bg-lp-second-primary-color text-white mx-auto;
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 20px;
    }

    .fun-products__grid-wrapper {
      @apply grid-cols-3;
    }

    .fun-products__grid-item {
      @apply w-30 bg-white mx-auto text-center;
    }

    .product-item-image {
      @apply w-30 h-30;
    }
  }
}

@media screen('less-sm') {
  .fun-products-section .fun-products-container {
    .fun-products__grid-wrapper {
      @apply grid-cols-1;
    }

    .fun-products__grid-item {
      @apply w-28;
    }

    .product-item-image {
      @apply w-28 h-28;
    }
  }
}

@media screen('sm') {
  .fun-products-section .fun-products-container {
    .fun-products__grid-wrapper {
      @apply grid-cols-2;
    }
  }
}

@media screen('md') {
  .fun-products-section .fun-products-container {
    .fun-products__grid-wrapper {
      @apply grid-cols-3;
    }
  }
}

@media screen('xl') {
}
