.introduction {
  @apply flex w-full bg-lp-lighter2-primary-color border-t-3 border-lp-lighter-primary-color;
  .introduction-container {
    @apply py-10 pb-20 text-lp-body text-center;
    .section-title {
      @apply mb-10 text-lp-section-title-2 text-lp-primary-color uppercase whitespace-pre-wrap;
    }
  }
  .introduction-grid {
    @apply mx-auto gap-10 grid-cols-2 grid-rows-1 w-[68.75rem] text-neutral-600;
  }
  .introduction-grid-item {
    @apply relative text-justify;
  }
  .corner-top-left {
    @apply absolute w-20 h-20 -top-5 -left-9 border-white border-t-1 border-l-1;
  }
  .corner-bottom-right {
    @apply absolute w-20 h-20 -right-7 bottom-0 border-white border-b-1 border-r-1;
  }
  .introduction-image-bigger {
    @apply object-cover absolute left-0 border-image h-[25rem] w-[25rem];
  }
  .introduction-image-smaller {
    @apply object-cover absolute right-0 border-image h-[21.875rem] bottom-0;
  }
}

@media screen('less-sm') {
  .introduction {
    .introduction-container {
      @apply px-10 pb-10 text-lp-body text-center;
    }
    .introduction-grid {
      width: 100%;
      @apply grid-cols-1;
    }
    .corner-top-left {
      @apply w-14 h-14 -top-5 -left-5 border-t-0.5 border-l-0.5;
    }
    .corner-bottom-right {
      @apply w-14 h-14 -right-5 bottom-0 border-b-0.5 border-r-0.5;
    }
    .introduction-image-bigger {
      @apply relative;
      width: unset !important;
    }
    .introduction-image-smaller {
      @apply relative bottom-0;
      width: unset !important;
    }
  }
}

@media screen('sm') {
  .introduction {
    .introduction-container {
      @apply px-10 pb-10 text-lp-body text-center;
    }
    .introduction-grid {
      width: 100%;
      @apply grid-cols-1;
    }
    .corner-top-left {
      @apply w-14 h-14 -top-5 -left-5 border-t-0.5 border-l-0.5;
    }
    .corner-bottom-right {
      @apply w-14 h-14 -right-5 -bottom-5 border-b-0.5 border-r-0.5;
    }
    .introduction-image-bigger {
      @apply relative;
      width: 100% !important;
    }
    .introduction-image-smaller {
      @apply relative bottom-0;
      width: 100% !important;
    }
  }
}

@media screen('xl') {
  .introduction {
    @apply border-t-3;
    .introduction-container {
      @apply py-10 pb-20;
      .section-title {
        @apply mb-10 text-lp-section-title-2;
      }
    }
    .introduction-grid {
      @apply mx-auto gap-10 grid-cols-2 grid-rows-1 w-[68.75rem] text-neutral-600;
    }
    .introduction-grid-item {
      @apply relative text-justify;
    }
    .corner-top-left {
      @apply absolute w-20 h-20 -top-5 -left-9 border-white border-t-1 border-l-1;
    }
    .corner-bottom-right {
      @apply absolute w-20 h-20 -right-7 bottom-0 border-white border-b-1 border-r-1;
    }
    .introduction-image-bigger {
      @apply object-cover absolute left-0 border-image h-[25rem] w-[25rem] !important;
    }
    .introduction-image-smaller {
      @apply object-cover absolute right-0 border-image h-[21.875rem] w-[21.875rem] bottom-0 !important;
    }
  }
}
