.introduction {
  @apply flex w-full bg-lp-lighter2-primary-color border-t-[3rem] border-lp-lighter-primary-color;
  .introduction-container {
    @apply py-[4rem] pb-[8rem] text-lp-body text-center;
    .section-title {
      @apply mb-4 text-lp-section-title-2 text-lp-primary-color uppercase whitespace-pre-wrap;
    }
  }
  .introduction-grid {
    @apply mx-auto gap-[4rem] grid-cols-2 grid-rows-1 w-[110rem] text-[#565656];
  }
  .introduction-grid-item {
    @apply relative text-justify;
  }
  .corner-top-left {
    @apply absolute w-[8rem] h-[8rem] -top-[2rem] -left-[3.5rem] border-white border-t-[1rem] border-l-[1rem];
  }
  .corner-bottom-right {
    @apply absolute w-[8rem] h-[8rem] -right-[3rem] bottom-0 border-white border-b-[1rem] border-r-[1rem];
  }
  .introduction-image-bigger {
    @apply object-cover absolute left-0 border-image h-[40rem] w-[40rem];
  }
  .introduction-image-smaller {
    @apply object-cover absolute right-0 border-image h-[35rem] bottom-0;
  }
}

@media screen('less-sm') {
  .introduction {
    .introduction-container {
      @apply px-[4rem] pb-[4rem] text-lp-body text-center;
    }
    .introduction-grid {
      width: 100%;
      @apply grid-cols-1;
    }
    .corner-top-left {
      @apply w-[6rem] h-[6rem] -top-[2rem] -left-[2rem] border-t-[0.5rem] border-l-[0.5rem];
    }
    .corner-bottom-right {
      @apply w-[6rem] h-[6rem] -right-[2rem] bottom-0 border-b-[0.5rem] border-r-[0.5rem];
    }
    .introduction-image-bigger {
      @apply relative;
      width: unset !important;
    }
    .introduction-image-smaller {
      @apply relative bottom-0;
      width: unset !important;
    }
  }
}

@media screen('sm') {
  .introduction {
    .introduction-container {
      @apply px-[4rem] pb-[4rem] text-lp-body text-center;
    }
    .introduction-grid {
      width: 100%;
      @apply grid-cols-1;
    }
    .corner-top-left {
      @apply w-[6rem] h-[6rem] -top-[2rem] -left-[2rem] border-t-[0.5rem] border-l-[0.5rem];
    }
    .corner-bottom-right {
      @apply w-[6rem] h-[6rem] -right-[2rem] -bottom-[2rem] border-b-[0.5rem] border-r-[0.5rem];
    }
    .introduction-image-bigger {
      @apply relative;
      width: 100% !important;
    }
    .introduction-image-smaller {
      @apply relative bottom-0;
      width: 100% !important;
    }
  }
}

@media screen('xl') {
  .introduction {
    @apply border-t-[3rem];
    .introduction-container {
      @apply py-[4rem] pb-[8rem];
      .section-title {
        @apply mb-4 text-lp-section-title-2;
      }
    }
    .introduction-grid {
      @apply mx-auto gap-[4rem] grid-cols-2 grid-rows-1 w-[110rem] text-[#565656];
    }
    .introduction-grid-item {
      @apply relative text-justify;
    }
    .corner-top-left {
      @apply absolute w-[8rem] h-[8rem] -top-[2rem] -left-[3.5rem] border-white border-t-[1rem] border-l-[1rem];
    }
    .corner-bottom-right {
      @apply absolute w-[8rem] h-[8rem] -right-[3rem] bottom-0 border-white border-b-[1rem] border-r-[1rem];
    }
    .introduction-image-bigger {
      @apply object-cover absolute left-0 border-image h-[40rem] w-[40rem] !important;
    }
    .introduction-image-smaller {
      @apply object-cover absolute right-0 border-image h-[35rem] w-[35rem] bottom-0 !important;
    }
  }
}
