.service-section {
  @apply flex w-full bg-lp-lighter-primary-color;

  .service-container {
    @apply py-10 text-lp-body text-white text-center;

    .section-title {
      @apply mb-10 text-lp-section-title whitespace-pre-line uppercase text-white;
    }

    .service-grid {
      @apply mx-auto gap-10 grid-cols-2 grid-rows-opportunity w-[71.875rem];

      .service-description-grid {
        @apply gap-y-10;

        .service-description-item {
          @apply flex items-center;

          .service-description-item-title {
            @apply text-justify ml-5;
          }
        }
      }

      .service-image-wrapper {
        @apply mx-auto relative;

        .service-image-primary {
          @apply object-cover border-image top-0 h-[31.25rem] w-[31.25rem];
        }

        .service-image-secondary-1 {
          @apply object-cover absolute border-image left-9 h-[12.5rem] w-52 bottom-7;
        }

        .service-image-secondary-2 {
          @apply object-cover absolute border-image left-64 h-[12.5rem] w-52 bottom-7;
        }
      }
    }
  }
}

@media screen('less-sm') {
  .service-section {
    .service-container {
      @apply px-10;

      .section-title {
        font-size: 36px;
      }

      .service-grid {
        @apply grid-cols-1;
        width: unset !important;

        .service-description-grid {
          @apply gap-y-10;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-5;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover top-0 h-[21.875rem] w-full;
          }

          .service-image-secondary-1 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }

          .service-image-secondary-2 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }
        }
      }
    }
  }
}

@media screen('sm') {
  .service-section {
    .service-container {
      @apply px-10;

      .section-title {
      }

      .service-grid {
        @apply grid-cols-1;
        width: unset !important;

        .service-description-grid {
          @apply gap-y-10;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-5;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover top-0 h-[31.25rem] w-full;
          }

          .service-image-secondary-1 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }

          .service-image-secondary-2 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }
        }
      }
    }
  }
}

@media screen('xl') {
  .service-section {
    @apply flex w-full bg-lp-lighter-primary-color;

    .service-container {
      @apply py-10 text-lp-body text-white text-center;

      .section-title {
        @apply mb-10 text-lp-section-title whitespace-pre-line uppercase text-white;
      }

      .service-grid {
        @apply mx-auto gap-10 grid-cols-2 grid-rows-opportunity w-[71.875rem];

        .service-description-grid {
          @apply gap-y-10;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-5;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover border-image top-0 h-[31.25rem] w-[31.25rem];
          }

          .service-image-secondary-1 {
            @apply object-cover absolute border-image left-9 h-[12.5rem] w-52 bottom-7;
          }

          .service-image-secondary-2 {
            @apply object-cover absolute border-image left-64 h-[12.5rem] w-52 bottom-7;
          }
        }
      }
    }
  }
}
