.service-section {
  @apply flex w-full bg-lp-lighter-primary-color;

  .service-container {
    @apply py-4 text-lp-body text-white text-center;

    .section-title {
      @apply mb-4 text-lp-section-title whitespace-pre-line uppercase text-white;
    }

    .service-grid {
      @apply mx-auto gap-4 grid-cols-2 grid-rows-opportunity w-115;

      .service-description-grid {
        @apply gap-y-4;

        .service-description-item {
          @apply flex items-center;

          .service-description-item-title {
            @apply text-justify ml-2;
          }
        }
      }

      .service-image-wrapper {
        @apply mx-auto relative;

        .service-image-primary {
          @apply object-cover border-image top-0 h-50 w-50;
        }

        .service-image-secondary-1 {
          @apply object-cover absolute border-image left-3.5 h-20 w-21 bottom-3;
        }

        .service-image-secondary-2 {
          @apply object-cover absolute border-image left-26 h-20 w-21 bottom-3;
        }
      }
    }
  }
}

@media screen('less-sm') {
  .service-section {
    .service-container {
      @apply px-4;

      .section-title {
        font-size: 36px;
      }

      .service-grid {
        @apply grid-cols-1;
        width: unset !important;

        .service-description-grid {
          @apply gap-y-4;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-2;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover top-0 h-35 w-full;
          }

          .service-image-secondary-1 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }

          .service-image-secondary-2 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }
        }
      }
    }
  }
}

@media screen('sm') {
  .service-section {
    .service-container {
      @apply px-4;

      .section-title {
      }

      .service-grid {
        @apply grid-cols-1;
        width: unset !important;

        .service-description-grid {
          @apply gap-y-4;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-2;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover top-0 h-50 w-full;
          }

          .service-image-secondary-1 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }

          .service-image-secondary-2 {
            @apply inline relative h-auto w-1/2;
            left: unset;
            bottom: unset;
          }
        }
      }
    }
  }
}

@media screen('xl') {
  .service-section {
    @apply flex w-full bg-lp-lighter-primary-color;

    .service-container {
      @apply py-4 text-lp-body text-white text-center;

      .section-title {
        @apply mb-4 text-lp-section-title whitespace-pre-line uppercase text-white;
      }

      .service-grid {
        @apply mx-auto gap-4 grid-cols-2 grid-rows-opportunity w-115;

        .service-description-grid {
          @apply gap-y-4;

          .service-description-item {
            @apply flex items-center;

            .service-description-item-title {
              @apply text-justify ml-2;
            }
          }
        }

        .service-image-wrapper {
          @apply mx-auto relative;

          .service-image-primary {
            @apply object-cover border-image top-0 h-50 w-50;
          }

          .service-image-secondary-1 {
            @apply object-cover absolute border-image left-3.5 h-20 w-21 bottom-3;
          }

          .service-image-secondary-2 {
            @apply object-cover absolute border-image left-26 h-20 w-21 bottom-3;
          }
        }
      }
    }
  }
}
