.strength-of-fun {
  @apply flex w-full bg-gradient-pink border-t-[3rem] border-lp-lighter-primary-color;

  .strength-of-fun-container {
    @apply flex flex-col py-[4rem] pb-[5rem] text-[2.5rem] text-white text-center;

    .section-title {
      @apply mb-4 px-[4rem] text-lp-section-title text-lp-primary-color whitespace-pre-line uppercase;
    }
  }

  .strength-of-fun-wrapper {
    @apply mx-auto flex gap-0 my-[2rem] h-[50rem];
  }

  .strength-item-wrapper {
    @apply whitespace-pre-line relative shadow-box flex items-center h-[48rem] w-[27rem] bg-white rounded-[1rem] mx-[0.75rem];

    .strength-item {
      @apply relative bg-white w-full h-full z-[1] rounded-[3rem] p-[2rem] text-center;

      .strength-item-title {
        @apply text-lp-primary-color uppercase;
      }

      .strength-item-description {
        @apply text-lp-primary-color text-[2rem] mt-[2rem];
      }
    }
  }

  .strength-of-fun-mobile-wrapper {
    @apply hidden;
  }

  .strength-item-over::before {
    content: '""';
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    border: 1.5rem solid var(--lp-primary-color);
    width: calc(100% + 3rem);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom: none;
    height: 12rem;
  }

  .triangle-border-left,
  .triangle-border-right {
    position: absolute;
    left: -1.5rem;
    top: 10.5rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid var(--lp-primary-color);
  }

  .triangle-border-left {
    border-right: 1.5rem solid transparent;
  }

  .triangle-border-right {
    border-left: 1.5rem solid transparent;
    left: unset;
    right: -1.5rem;
  }

  .strength-item-under::before {
    content: '""';
    position: absolute;
    left: -1.5rem;
    bottom: -1.5rem;
    border: 1.5rem solid var(--lp-primary-color);
    width: calc(100% + 3rem);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top: none;
    height: 12rem;
  }

  .strength-item-under .triangle-border-left,
  .strength-item-under .triangle-border-right {
    bottom: 10.5rem;
    top: unset;
    border-top: unset;
    border-bottom: 1.5rem solid var(--lp-primary-color);
  }

  .strength-item-under .triangle-border-left {
    border-right: 1.5rem solid transparent;
    border-left: unset;
  }

  .strength-item-under .triangle-border-right {
    border-left: 1.5rem solid transparent;
    border-right: unset;
    left: unset;
    right: -1.5rem;
  }

  .strength-index {
    position: absolute;
    display: block;
    width: 10rem;
    height: 10rem;
    border: 1rem solid var(--lp-secondary-color);
    text-align: center;
    font-size: 5.4rem;
    line-height: 8rem;
    color: var(--lp-secondary-color);
    font-weight: 900;
    border-radius: 50%;
    left: calc(50% - 5rem);
    top: -5rem;
    background: white;
  }

  .strength-item-over .strength-index {
    top: unset;
    bottom: -5rem;
  }

  strong {
    display: block;
    margin-top: 1rem;
  }

  .strength-item-under strong {
    margin-top: 4rem;
    line-height: 3rem;
  }
}

@media screen('less-sm') {
  .strength-of-fun {
    .strength-of-fun-wrapper {
      @apply hidden;
    }

    .strength-of-fun-container {
      .section-title {
        font-size: 3.6rem;
      }
    }

    .strength-of-fun-swiper {
      @apply p-[5rem];
    }

    .strength-of-fun-mobile-wrapper {
      @apply block relative;
    }

    .strength-item-wrapper {
      @apply mx-auto;
    }

    .swiper-left-arrow {
      @apply absolute top-[calc(50%-3rem)] left-[2rem] z-z-index-banner-dot;
    }

    .swiper-right-arrow {
      @apply absolute top-[calc(50%-3rem)] right-[2rem] z-z-index-banner-dot;
    }
  }
}

@media screen('sm') {
  .strength-of-fun {
    .strength-of-fun-wrapper {
      @apply hidden;
    }

    .strength-of-fun-swiper {
      @apply p-[5rem];
    }

    .strength-of-fun-mobile-wrapper {
      @apply block relative;
    }

    .strength-item-wrapper {
      @apply mx-auto;
    }

    .swiper-left-arrow {
      @apply absolute top-[calc(50%-3rem)] left-[2rem] z-z-index-banner-dot;
    }

    .swiper-right-arrow {
      @apply absolute top-[calc(50%-3rem)] right-[2rem] z-z-index-banner-dot;
    }
  }
}

@media screen('xl') {
  .strength-of-fun {
    @apply flex w-full bg-gradient-pink border-t-[3rem] border-lp-lighter-primary-color;

    .strength-of-fun-container {
      @apply flex flex-col py-[4rem] pb-[5rem] text-[2.5rem] text-white text-center;

      .section-title {
        @apply mb-4 text-lp-section-title text-lp-primary-color whitespace-pre-line uppercase;
      }
    }

    .strength-of-fun-wrapper {
      @apply mx-auto flex gap-0 my-[2rem] h-[50rem];
    }

    .strength-item-wrapper {
      @apply whitespace-pre-line relative shadow-box flex items-center h-[45rem] w-[27rem] bg-white rounded-[1rem] mx-[0.75rem];

      .strength-item {
        @apply relative bg-white w-full h-full z-[1] rounded-[3rem] p-[2rem] text-center;

        .strength-item-title {
          @apply text-lp-primary-color uppercase;
        }

        .strength-item-description {
          @apply text-lp-primary-color text-[2rem] mt-[2rem];
        }
      }
    }

    .strength-of-fun-mobile-wrapper {
      @apply hidden;
    }
  }
}
