.strength-of-fun {
  @apply flex w-full bg-gradient-pink border-t-3 border-lp-lighter-primary-color;

  .strength-of-fun-container {
    @apply flex flex-col py-10 pb-12 text-brand-card-title text-white text-center;

    .section-title {
      @apply mb-10 px-10 text-lp-section-title text-lp-primary-color whitespace-pre-line uppercase;
    }
  }

  .strength-of-fun-wrapper {
    @apply mx-auto flex gap-0 my-5 h-[31.25rem];
  }

  .strength-item-wrapper {
    @apply whitespace-pre-line relative shadow-box flex items-center h-[30rem] w-[16.875rem] bg-white rounded-lg mx-2;

    .strength-item {
      @apply relative bg-white w-full h-full z-1 rounded-3xl p-5 text-center;

      .strength-item-title {
        @apply text-lp-primary-color uppercase;
      }

      .strength-item-description {
        @apply text-lp-primary-color text-brand-body-lg mt-5;
      }
    }
  }

  .strength-of-fun-mobile-wrapper {
    @apply hidden;
  }

  .strength-item-over::before {
    content: '""';
    position: absolute;
    left: -15px;
    top: -15px;
    border: 15px solid var(--lp-primary-color);
    width: calc(100% + 30px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: none;
    height: 120px;
  }

  .triangle-border-left,
  .triangle-border-right {
    position: absolute;
    left: -15px;
    top: 105px;
    width: 0;
    height: 0;
    border-top: 15px solid var(--lp-primary-color);
  }

  .triangle-border-left {
    border-right: 15px solid transparent;
  }

  .triangle-border-right {
    border-left: 15px solid transparent;
    left: unset;
    right: -15px;
  }

  .strength-item-under::before {
    content: '""';
    position: absolute;
    left: -15px;
    bottom: -15px;
    border: 15px solid var(--lp-primary-color);
    width: calc(100% + 30px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: none;
    height: 120px;
  }

  .strength-item-under .triangle-border-left,
  .strength-item-under .triangle-border-right {
    bottom: 105px;
    top: unset;
    border-top: unset;
    border-bottom: 15px solid var(--lp-primary-color);
  }

  .strength-item-under .triangle-border-left {
    border-right: 15px solid transparent;
    border-left: unset;
  }

  .strength-item-under .triangle-border-right {
    border-left: 15px solid transparent;
    border-right: unset;
    left: unset;
    right: -15px;
  }

  .strength-index {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    border: 10px solid var(--lp-secondary-color);
    text-align: center;
    font-size: 54px;
    line-height: 80px;
    color: var(--lp-secondary-color);
    font-weight: 900;
    border-radius: 50%;
    left: calc(50% - 50px);
    top: -50px;
    background: white;
  }

  .strength-item-over .strength-index {
    top: unset;
    bottom: -50px;
  }

  strong {
    display: block;
    margin-top: 10px;
  }

  .strength-item-under strong {
    margin-top: 40px;
    line-height: 30px;
  }
}

@media screen('less-sm') {
  .strength-of-fun {
    .strength-of-fun-wrapper {
      @apply hidden;
    }

    .strength-of-fun-container {
      .section-title {
        font-size: 36px;
      }
    }

    .strength-of-fun-swiper {
      @apply p-12;
    }

    .strength-of-fun-mobile-wrapper {
      @apply block relative;
    }

    .strength-item-wrapper {
      @apply mx-auto;
    }

    .swiper-left-arrow {
      @apply absolute top-1/2 -translate-y-7 left-5 z-z-index-banner-dot;
    }

    .swiper-right-arrow {
      @apply absolute top-1/2 -translate-y-7 right-5 z-z-index-banner-dot;
    }
  }
}

@media screen('sm') {
  .strength-of-fun {
    .strength-of-fun-wrapper {
      @apply hidden;
    }

    .strength-of-fun-swiper {
      @apply p-12;
    }

    .strength-of-fun-mobile-wrapper {
      @apply block relative;
    }

    .strength-item-wrapper {
      @apply mx-auto;
    }

    .swiper-left-arrow {
      @apply absolute top-1/2 -translate-y-7 left-5 z-z-index-banner-dot;
    }

    .swiper-right-arrow {
      @apply absolute top-1/2 -translate-y-7 right-5 z-z-index-banner-dot;
    }
  }
}

@media screen('xl') {
  .strength-of-fun {
    @apply flex w-full bg-gradient-pink border-t-3 border-lp-lighter-primary-color;

    .strength-of-fun-container {
      @apply flex flex-col py-10 pb-12 text-brand-card-title text-white text-center;

      .section-title {
        @apply mb-10 text-lp-section-title text-lp-primary-color whitespace-pre-line uppercase;
      }
    }

    .strength-of-fun-wrapper {
      @apply mx-auto flex gap-0 my-5 h-[31.25rem];
    }

    .strength-item-wrapper {
      @apply whitespace-pre-line relative shadow-box flex items-center h-[28.125rem] w-[16.875rem] bg-white rounded-lg mx-2;

      .strength-item {
        @apply relative bg-white w-full h-full z-1 rounded-3xl p-5 text-center;

        .strength-item-title {
          @apply text-lp-primary-color uppercase;
        }

        .strength-item-description {
          @apply text-lp-primary-color text-brand-body-lg mt-5;
        }
      }
    }

    .strength-of-fun-mobile-wrapper {
      @apply hidden;
    }
  }
}
