.talk-about-us-section {
  @apply flex w-full bg-gradient-pink;

  .talk-about-us-section-container {
    @apply py-4 text-lp-body text-center mx-auto;
  }

  .customer-swiper-wrapper {
    @apply relative mx-auto mt-4 w-90;

    .customer-swiper-card-title {
      @apply mb-4 text-lp-section-title uppercase text-lp-secondary-color;
    }

    .customer-swiper-slide {
      @apply flex w-full h-full items-center justify-center text-center;

      .customer-swiper-card {
        @apply flex h-30 text-center items-center rounded-1 p-1;

        img {
          height: 250px;
          align-self: center;
          border-radius: 50%;
          border: 10px solid var(--lp-primary-color);
          flex-shrink: 0;
          -o-object-fit: cover;
          object-fit: cover;
        }

        & > div {
          margin-left: 50px;
          padding: 10px;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23ef909b' stroke-width='5' stroke-dasharray='9%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 20px;
        }

        .customer-swiper-item {
          @apply text-left text-white py-2.7 px-1;
          position: relative;
          align-self: center;
          background-color: var(--lp-lighter-primary-color);
          border-radius: 20px;

          .customer-swiper-title {
            @apply text-brand-subtitle;
          }

          .customer-swiper-title-underline {
            @apply w-4 mt-2 border-white border-b-0.5;
          }
        }
      }
    }

    .customer-swiper-left-arrow {
      @apply absolute top-1/2 translate-y-2 -left-8 z-z-index-banner-dot;
    }

    .customer-swiper-right-arrow {
      @apply absolute top-1/2 translate-y-2 -right-8 z-z-index-banner-dot;
    }
  }

  .news-swiper-wrapper {
    @apply mx-auto w-90 relative;

    .news-swiper {
      @apply w-60;
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
    }

    .news-swiper-slide {
      .news-swiper-card {
        @apply flex flex-col rounded-1 p-1.2 bg-lp-lighter-primary-color w-full;

        .news-swiper-image {
          @apply border-image object-cover;
          aspect-ratio: 16 / 9;
        }

        .news-swiper-youtube-frame {
          aspect-ratio: 16 / 9;
        }

        .news-swiper-title {
          @apply text-white uppercase py-2 text-lp-card-title h-8 leading-4;

          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    .news-swiper-dots {
      @apply mt-2;
    }
  }

  .news-swiper-left-arrow {
    @apply absolute top-1/2 translate-y-2 -left-8 z-z-index-banner-dot;
  }

  .news-swiper-right-arrow {
    @apply absolute top-1/2 translate-y-2 -right-8 z-z-index-banner-dot;
  }
}

@media screen('less-sm') {
  .talk-about-us-section {
    .talk-about-us-section-container {
      @apply px-4;

      .customer-swiper-wrapper {
        width: unset;

        .customer-swiper-card-title {
          @apply text-lp-section-title-2;
        }
      }

      .customer-swiper-slide {
        .customer-swiper-card {
          @apply flex flex-col items-center;
          height: unset;

          & > div {
            margin-left: 0;
            margin-top: 40px;
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply -left-3 top-1/2;
      }

      .customer-swiper-right-arrow {
        @apply -right-3 top-1/2;
      }
    }
  }

  .news-swiper-wrapper {
    @apply mt-0 w-auto !important;

    .news-swiper {
      @apply w-auto !important;
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title-2 text-lp-primary-color uppercase !important;
    }

    .news-swiper-left-arrow {
      @apply -left-4 top-1/2;
    }

    .news-swiper-right-arrow {
      @apply -right-4 top-1/2;
    }
  }
}

@media screen('sm') {
  .talk-about-us-section {
    .talk-about-us-section-container {
      @apply px-4;

      .customer-swiper-wrapper {
        width: unset;
      }

      .customer-swiper-slide {
        .customer-swiper-card {
          @apply flex flex-col items-center;
          height: unset;

          & > div {
            margin-left: 0;
            margin-top: 40px;
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply -left-3;
      }

      .customer-swiper-right-arrow {
        @apply -right-3;
      }
    }
  }

  .news-swiper-wrapper {
    @apply mt-0 w-auto !important;

    .news-swiper {
      @apply w-auto;
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
    }

    .news-swiper-left-arrow {
      @apply -left-3;
    }

    .news-swiper-right-arrow {
      @apply -right-3;
    }
  }
}

@media screen('xl') {
  .talk-about-us-section {
    @apply flex w-full bg-gradient-pink;

    .talk-about-us-section-container {
      @apply py-4 text-lp-body text-center mx-auto;
    }

    .customer-swiper-wrapper {
      @apply relative mx-auto w-90 !important;

      .customer-swiper-card-title {
        @apply mb-4 text-lp-section-title uppercase text-lp-secondary-color;
      }

      .customer-swiper-slide {
        @apply flex w-full h-full items-center justify-center text-center;

        .customer-swiper-card {
          @apply flex flex-row h-30 text-center items-center rounded-1 p-1;

          img {
            height: 250px;
            align-self: center;
            border-radius: 50%;
            border: 10px solid var(--lp-primary-color);
            flex-shrink: 0;
            -o-object-fit: cover;
            object-fit: cover;
          }

          & > div {
            margin-left: 50px;
            margin-top: 0px;
            padding: 10px;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23ef909b' stroke-width='5' stroke-dasharray='9%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 20px;
          }

          .customer-swiper-item {
            @apply text-left text-white py-2.7 px-1;
            position: relative;
            align-self: center;
            background-color: var(--lp-lighter-primary-color);
            border-radius: 20px;

            .customer-swiper-title {
              @apply text-brand-subtitle;
            }

            .customer-swiper-title-underline {
              @apply w-4 mt-2 border-white border-b-0.5;
            }
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply absolute top-1/2 translate-y-2 -left-8 z-z-index-banner-dot;
      }

      .customer-swiper-right-arrow {
        @apply absolute top-1/2 translate-y-2 -right-8 z-z-index-banner-dot;
      }
    }

    .news-swiper-wrapper {
      @apply mx-auto mt-4 w-90 !important;

      .news-swiper {
        @apply w-60;
      }

      .news-swiper-card-title {
        @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
      }

      .news-swiper-slide {
        .news-swiper-card {
          @apply flex flex-col rounded-1 p-1.2;

          .news-swiper-image {
            @apply border-image object-cover w-full;
            aspect-ratio: 16 / 9;
          }

          .news-swiper-youtube-frame {
            aspect-ratio: 16 / 9;
          }

          .news-swiper-title {
            @apply text-white uppercase py-2 text-lp-card-title;
          }
        }
      }

      .news-swiper-dots {
        @apply mt-2;
      }
    }
  }
}
