.talk-about-us-section {
  @apply flex w-full bg-gradient-pink;

  .talk-about-us-section-container {
    @apply py-[4rem] text-lp-body text-center mx-auto;
  }

  .customer-swiper-wrapper {
    @apply relative mx-auto mt-[4rem] w-[90rem];

    .customer-swiper-card-title {
      @apply mb-[4rem] text-lp-section-title uppercase text-lp-secondary-color;
    }

    .customer-swiper-slide {
      @apply flex w-full h-full items-center justify-center text-center;

      .customer-swiper-card {
        @apply flex h-[30rem] text-center items-center rounded-[1rem] p-[1rem];

        img {
          height: 250px;
          align-self: center;
          border-radius: 50%;
          border: 1rem solid var(--lp-primary-color);
          flex-shrink: 0;
          -o-object-fit: cover;
          object-fit: cover;
        }

        & > div {
          margin-left: 5rem;
          padding: 1rem;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23ef909b' stroke-width='5' stroke-dasharray='9%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 2rem;
        }

        .customer-swiper-item {
          @apply text-left text-white py-[2.7rem] px-[1rem];
          position: relative;
          align-self: center;
          background-color: var(--lp-lighter-primary-color);
          border-radius: 20px;

          .customer-swiper-title {
            @apply text-[3.5rem];
          }

          .customer-swiper-title-underline {
            @apply w-[4rem] mt-[2rem] border-white border-b-[0.5rem];
          }
        }
      }
    }

    .customer-swiper-left-arrow {
      @apply absolute top-[calc(50%+2rem)] -left-[8rem] z-z-index-banner-dot;
    }

    .customer-swiper-right-arrow {
      @apply absolute top-[calc(50%+2rem)] -right-[8rem] z-z-index-banner-dot;
    }
  }

  .news-swiper-wrapper {
    @apply mx-auto w-[90rem] relative;

    .news-swiper {
      @apply w-[60rem];
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
    }

    .news-swiper-slide {
      .news-swiper-card {
        @apply flex flex-col rounded-[1rem] p-[1.2rem] bg-lp-lighter-primary-color;

        .news-swiper-image {
          @apply border-image object-cover;
          aspect-ratio: 16 / 9;
        }

        .news-swiper-youtube-frame {
          aspect-ratio: 16 / 9;
        }

        .news-swiper-title {
          @apply text-white uppercase py-[2rem] text-lp-card-title h-[8rem] leading-[4rem];
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    .news-swiper-dots {
      @apply mt-[2rem];
    }
  }

  .news-swiper-left-arrow {
    @apply absolute top-[calc(50%+2rem)] -left-[8rem] z-z-index-banner-dot;
  }

  .news-swiper-right-arrow {
    @apply absolute top-[calc(50%+2rem)] -right-[8rem] z-z-index-banner-dot;
  }
}

@media screen('less-sm') {
  .talk-about-us-section {
    .talk-about-us-section-container {
      @apply px-[4rem];

      .customer-swiper-wrapper {
        width: unset;

        .customer-swiper-card-title {
          @apply text-lp-section-title-2;
        }
      }

      .customer-swiper-slide {
        .customer-swiper-card {
          @apply flex flex-col items-center;
          height: unset;

          & > div {
            margin-left: 0;
            margin-top: 4rem;
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply -left-[3rem] top-[50%];
      }

      .customer-swiper-right-arrow {
        @apply -right-[3rem] top-[50%];
      }
    }
  }

  .news-swiper-wrapper {
    @apply mt-0 w-[unset] !important;

    .news-swiper {
      @apply w-[unset] !important;
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title-2 text-lp-primary-color uppercase !important;
    }

    .news-swiper-slide {
      .news-swiper-card {
        width: unset !important;
      }
    }

    .news-swiper-left-arrow {
      @apply -left-[4rem] top-[50%];
    }

    .news-swiper-right-arrow {
      @apply -right-[4rem] top-[50%];
    }
  }
}

@media screen('sm') {
  .talk-about-us-section {
    .talk-about-us-section-container {
      @apply px-[4rem];

      .customer-swiper-wrapper {
        width: unset;
      }

      .customer-swiper-slide {
        .customer-swiper-card {
          @apply flex flex-col items-center;
          height: unset;

          & > div {
            margin-left: 0;
            margin-top: 4rem;
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply -left-[3rem];
      }

      .customer-swiper-right-arrow {
        @apply -right-[3rem];
      }
    }
  }

  .news-swiper-wrapper {
    @apply mt-0 w-[unset] !important;

    .news-swiper {
      @apply w-[unset];
    }

    .news-swiper-card-title {
      @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
    }

    .news-swiper-slide {
      .news-swiper-card {
        width: unset !important;
      }
    }

    .news-swiper-left-arrow {
      @apply -left-[3rem];
    }

    .news-swiper-right-arrow {
      @apply -right-[3rem];
    }
  }
}

@media screen('xl') {
  .talk-about-us-section {
    @apply flex w-full bg-gradient-pink;

    .talk-about-us-section-container {
      @apply py-[4rem] text-lp-body text-center mx-auto;
    }

    .customer-swiper-wrapper {
      @apply relative mx-auto w-[90rem] !important;

      .customer-swiper-card-title {
        @apply mb-[4rem] text-lp-section-title uppercase text-lp-secondary-color;
      }

      .customer-swiper-slide {
        @apply flex w-full h-full items-center justify-center text-center;

        .customer-swiper-card {
          @apply flex flex-row h-[30rem] text-center items-center rounded-[1rem] p-[1rem];

          img {
            height: 250px;
            align-self: center;
            border-radius: 50%;
            border: 10px solid var(--lp-primary-color);
            flex-shrink: 0;
            -o-object-fit: cover;
            object-fit: cover;
          }

          & > div {
            margin-left: 5rem;
            margin-top: 0rem;
            padding: 10px;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23ef909b' stroke-width='5' stroke-dasharray='9%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 20px;
          }

          .customer-swiper-item {
            @apply text-left text-white py-[2.7rem] px-[1rem];
            position: relative;
            align-self: center;
            background-color: var(--lp-lighter-primary-color);
            border-radius: 20px;

            .customer-swiper-title {
              @apply text-[3.5rem];
            }

            .customer-swiper-title-underline {
              @apply w-[4rem] mt-[2rem] border-white border-b-[0.5rem];
            }
          }
        }
      }

      .customer-swiper-left-arrow {
        @apply absolute top-[calc(50%+2rem)] -left-[8rem] z-z-index-banner-dot;
      }

      .customer-swiper-right-arrow {
        @apply absolute top-[calc(50%+2rem)] -right-[8rem] z-z-index-banner-dot;
      }
    }

    .news-swiper-wrapper {
      @apply mx-auto mt-[4rem] w-[90rem] !important;

      .news-swiper {
        @apply w-[60rem];
      }

      .news-swiper-card-title {
        @apply mb-4 text-lp-section-title text-lp-primary-color uppercase;
      }

      .news-swiper-slide {
        .news-swiper-card {
          @apply flex flex-col rounded-[1rem] p-[1.2rem];

          .news-swiper-image {
            @apply border-image object-cover w-full;
            aspect-ratio: 16 / 9;
          }
          .news-swiper-youtube-frame {
            aspect-ratio: 16 / 9;
          }

          .news-swiper-title {
            @apply text-white uppercase py-[2rem] text-lp-card-title;
          }
        }
      }

      .news-swiper-dots {
        @apply mt-[2rem];
      }
    }
  }
}
