.header {
  @apply font-Montserrat uppercase;

  .header-section {
    @apply w-screen bg-white fixed z-z-index-header shadow-navbar;

    .header-container {
      @apply flex items-center py-1;
    }
  }

  .header-navbar {
    @apply block flex flex-1 mx-[10rem] items-center;

    .header-navbar-link {
      @apply font-[600] mr-1 flex-1 text-center whitespace-pre-line cursor-pointer text-lp-small text-lp-lighter-primary-color;
    }
  }

  .btn-hotline {
    @apply font-[700] text-lp-small p-[0.4rem] px-[1rem] rounded-[2rem] bg-second-primary-color text-white;
  }

  .header-placeholder {
    height: var(--height-of-header);
  }

  .btn-show-sidebar {
    @apply hidden ml-[1rem] p-[0.5rem];
  }

  .mobile-sidebar-header {
    @apply hidden fixed top-0 left-0 w-screen h-screen z-z-index-backdrop pointer-events-none;
    transition: 0.3s all;

    .btn-close-sidebar {
      @apply p-[0.5rem] mb-[2rem];

      img {
        @apply ml-auto;
      }
    }

    .mobile-sidebar-backdrop {
      @apply opacity-60 absolute top-0 left-0 w-full h-full;
      background: #333;
      transition: 0.3s all;
    }

    .mobile-sidebar-navbar {
      @apply flex flex-col absolute h-full w-[70%] p-[1rem] right-0 z-z-index-popover text-lp-card-title font-[600] flex-1 text-right whitespace-pre-line cursor-pointer text-lp-lighter-primary-color;
      background-color: white;
      transition: 0.3s all;

      a {
        @apply w-full py-[1rem] border-lp-lighter-primary-color border-b;
      }
    }
  }
}

@media screen('less-sm') {
  .header {
    .header-container {
      @apply px-1;
      height: var(--height-of-header);
    }

    .header-navbar {
      @apply hidden;
    }

    .btn-hotline {
      @apply ml-auto;
    }

    .btn-show-sidebar {
      @apply block;
    }

    .mobile-sidebar-header {
      @apply block;

      .mobile-sidebar-backdrop {
        @apply opacity-0;
      }

      .mobile-sidebar-navbar {
        @apply -right-[70%];
      }

      &.isActive {
        @apply pointer-events-auto;

        .mobile-sidebar-backdrop {
          @apply opacity-60;
        }

        .mobile-sidebar-navbar {
          @apply right-0;
        }
      }
    }
  }
}

@media screen('sm') {
  .header {
    .header-container {
      @apply px-1;
      height: var(--height-of-header);
    }

    .header-navbar {
      @apply hidden;
    }

    .btn-hotline {
      @apply ml-auto;
    }

    .btn-show-sidebar {
      @apply block;
    }

    .mobile-sidebar-header {
      @apply block;

      .mobile-sidebar-backdrop {
        @apply opacity-0;
      }

      .mobile-sidebar-navbar {
        @apply -right-[70%];
      }

      &.isActive {
        @apply pointer-events-auto;

        .mobile-sidebar-backdrop {
          @apply opacity-60;
        }

        .mobile-sidebar-navbar {
          @apply right-0;
        }
      }
    }
  }
}

@media screen('xl') {
  .header {
    .header-section {
      .header-container {
        @apply flex items-center py-1;
      }
    }

    .header-navbar {
      @apply block flex flex-1 mx-[10rem] items-center;

      .header-navbar-link {
        @apply font-[600] mr-1 flex-1 text-center whitespace-pre-line cursor-pointer text-lp-small text-lp-lighter-primary-color;
      }
    }

    .btn-hotline {
      @apply font-[700] text-lp-small p-[0.4rem] px-[1rem] rounded-[2rem] bg-second-primary-color text-white;
    }

    .header-placeholder {
      height: var(--height-of-header);
    }

    .btn-show-sidebar {
      @apply hidden ml-[1rem] p-[0.5rem];
    }

    .mobile-sidebar-header {
      @apply hidden fixed top-0 left-0 w-screen h-screen z-z-index-backdrop pointer-events-none;
      transition: 0.5s all;

      .btn-close-sidebar {
        @apply p-[0.5rem] mb-[2rem];

        img {
          @apply ml-auto;
        }
      }

      .mobile-sidebar-backdrop {
        @apply opacity-60 absolute top-0 left-0 w-full h-full;
        background: #333;
        transition: 0.5s all;
      }

      .mobile-sidebar-navbar {
        @apply flex flex-col absolute h-full w-[70%] p-[1rem] right-0 z-z-index-popover text-lp-card-title font-[600] flex-1 text-right whitespace-pre-line cursor-pointer text-lp-lighter-primary-color;
        background-color: white;
        transition: 0.5s all;

        a {
          @apply w-full py-[1rem] border-lp-lighter-primary-color border-b;
        }
      }
    }
  }
}
